[Desktop Entry]
Type=Service
Name=MuPDF
Name[bs]=MuPDF
Name[ca]=MuPDF
Name[ca@valencia]=MuPDF
Name[de]=MuPDF
Name[el]=MuPDF
Name[en_GB]=MuPDF
Name[eo]=MuPDF
Name[es]=MuPDF
Name[et]=MuPDF
Name[fr]=MuPDF
Name[ga]=MuPDF
Name[gl]=MuPDF
Name[hu]=MuPDF
Name[it]=MuPDF
Name[km]=MuPDF
Name[ko]=MuPDF
Name[mr]=MuPDF
Name[nds]=MuPDF
Name[nl]=MuPDF
Name[pl]=MuPDF
Name[pt]=MuPDF
Name[pt_BR]=MuPDF
Name[sk]=MuPDF
Name[sv]=MuPDF
Name[tr]=MuPDF
Name[ug]=MuPDF
Name[uk]=MuPDF
Name[x-test]=xxMuPDFxx
Comment=PDF backend for Okular using MuPDF
Comment[bs]=PDF pozadina za Okular koristi MuPDF
Comment[ca]=Dorsal de PDF per a l'Okular emprant MuPDF
Comment[ca@valencia]=Dorsal de PDF per a l'Okular emprant MuPDF
Comment[de]=MuPDF-Anzeigemodul für PDF in Okular
Comment[el]=Σύστημα υποστήριξης PDF για το Okular με χρήση του MuPDF
Comment[en_GB]=PDF backend for Okular using MuPDF
Comment[es]=Motor PDF para Okular que utiliza MuPDF
Comment[et]=Okulari MuPDF-i kasutav PDF-i taustaprogramm
Comment[fr]=Moteur PDF pour Okular utilisant MuPDF
Comment[ga]=Inneall PDF le haghaidh Okular a úsáideann MuPDF
Comment[gl]=Infraestrutura de PDF para Okular que emprega MuPDF
Comment[hu]=MuPDF-et használó PDF háttérprogram az Okularhoz
Comment[it]=Backend PDF per Okular tramite l'uso di MuPDF
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ PDF សម្រាប់ Okular ដោយ​ប្រើ MuPDF
Comment[ko]=MuPDF를 사용하는 Okular의 PDF 백엔드
Comment[mr]=MuPDF वापरून ओक्युलर करिता पीडीएफ बॅकएन्ड
Comment[nds]=PDF-Hülpprogramm för Okular, dat MuPDF bruukt
Comment[nl]=PDF-backend voor Okular met gebruik van MuPDF
Comment[pl]=Silnik PDF dla Okular wykorzystujący MuPDF
Comment[pt]=Infra-estrutura de PDF para o Okular, usando o MuPDF
Comment[pt_BR]=Infraestrutura PDF para o Okular usando o MuPDF
Comment[sk]=PDF backend pre Okular s použitím MuPDF
Comment[sv]=PDF-gränssnitt för Okular som använder MuPDF
Comment[tr]=Okular için MuPDF kullanan PDF arka ucu
Comment[uk]=Сервер PDF для Okular на основі MuPDF
Comment[x-test]=xxPDF backend for Okular using MuPDFxx
X-KDE-ServiceTypes=okular/Generator
MimeType=application/pdf;
X-KDE-Library=okularGenerator_mupdf
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
