[Desktop Entry]
Icon=okular
Name=Okular
Name[bs]=Okular
Name[ca]=Okular
Name[ca@valencia]=Okular
Name[cs]=Okular
Name[de]=Okular
Name[el]=Okular
Name[en_GB]=Okular
Name[eo]=Okular
Name[es]=Okular
Name[et]=Okular
Name[fr]=Okular
Name[ga]=Okular
Name[gl]=Okular
Name[hi]=ऑकुलर
Name[hne]=ओकुलर
Name[hu]=Okular
Name[it]=Okular
Name[km]=Okular
Name[ko]=Okular
Name[mr]=ओक्युलर
Name[nds]=Okular
Name[nl]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[pl]=Okular
Name[pt]=Okular
Name[pt_BR]=Okular
Name[sk]=Okular
Name[sv]=Okular
Name[tr]=Okular
Name[ug]=Okular
Name[uk]=Okular
Name[x-test]=xxOkularxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=okularpart
Type=Service
MimeType=application/pdf;application/x-gzpdf;application/x-bzpdf;
